# Global OS & IDE ignores
.DS_Store
.idea/
.vscode/
*.swp
*.log

# Sub-repositories ignored artifacts
backend/bin/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.next/
frontend/.env
frontend/.env.local
