PORT=8000
GATEWAY_PORT=8000
USER_SERVICE_PORT=8001
PRODUCT_SERVICE_PORT=8002
ORDER_SERVICE_PORT=8003

USER_DB_DNS="host=localhost port=5428 user=root password=secret dbname=ecom_user_db sslmode=disable"
PRODUCT_DB_DNS="host=localhost port=5428 user=root password=secret dbname=ecom_product_db sslmode=disable"
ORDER_DB_DNS="host=localhost port=5428 user=root password=secret dbname=ecom_order_db sslmode=disable"

APP_SECRET="replace_this_with_a_secure_random_string_for_production"
REDIS_ADDRESS="localhost:6379"
KAFKA_BROKERS="localhost:9092"
ELASTICSEARCH_ADDR="http://localhost:9200"
GRAYLOG_ADDR="127.0.0.1:12201"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_app_password"
